GSWebServicesSSO/WebContent/wsdl/GSSeguridadWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://seguridad.generalseguros.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://seguridad.generalseguros.com" xmlns:intf="http://seguridad.generalseguros.com" xmlns:tns1="http://dto.generalseguros.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://seguridad.generalseguros.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.generalseguros.com"/>
   <element name="obtenTipoUsuario">
    <complexType>
     <sequence>
      <element name="usuario" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenTipoUsuarioResponse">
    <complexType>
     <sequence>
      <element name="obtenTipoUsuarioReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenNombreUsuario">
    <complexType>
     <sequence>
      <element name="sessionId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenNombreUsuarioResponse">
    <complexType>
     <sequence>
      <element name="obtenNombreUsuarioReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenPermisos">
    <complexType>
     <sequence>
      <element name="nombreUsuario" type="xsd:string"/>
      <element name="nombreSistema" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenPermisosResponse">
    <complexType>
     <sequence>
      <element name="obtenPermisosReturn" type="tns1:Permisos"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns1_Menu">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:Menu"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns1_Sistema">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:Sistema"/>
    </sequence>
   </complexType>
   <element name="obtenPermisosJSON">
    <complexType>
     <sequence>
      <element name="nombreUsuario" type="xsd:string"/>
      <element name="nombreSistema" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenPermisosJSONResponse">
    <complexType>
     <sequence>
      <element name="obtenPermisosJSONReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenPermisosHTML">
    <complexType>
     <sequence>
      <element name="nombreUsuario" type="xsd:string"/>
      <element name="nombreSistema" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenPermisosHTMLResponse">
    <complexType>
     <sequence>
      <element name="obtenPermisosHTMLReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenPermisosXML">
    <complexType>
     <sequence>
      <element name="nombreUsuario" type="xsd:string"/>
      <element name="nombreSistema" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenPermisosXMLResponse">
    <complexType>
     <sequence>
      <element name="obtenPermisosXMLReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="generarContrasena">
    <complexType>
     <sequence>
      <element name="usuario" type="tns1:Usuario"/>
     </sequence>
    </complexType>
   </element>
   <element name="generarContrasenaResponse">
    <complexType>
     <sequence>
      <element name="generarContrasenaReturn" type="tns1:Usuario"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dto.generalseguros.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://seguridad.generalseguros.com"/>
   <complexType name="Menu">
    <sequence>
     <element name="activo" nillable="true" type="xsd:boolean"/>
     <element name="clave" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
     <element name="menuPadreId" type="xsd:int"/>
     <element name="menusHijos" nillable="true" type="impl:ArrayOf_tns1_Menu"/>
     <element name="nombre" nillable="true" type="xsd:string"/>
     <element name="sistemaId" type="xsd:int"/>
     <element name="tooltip" nillable="true" type="xsd:string"/>
     <element name="url" nillable="true" type="xsd:string"/>
     <element name="urlImagen" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Sistema">
    <sequence>
     <element name="hashValue" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
     <element name="menus" nillable="true" type="impl:ArrayOf_tns1_Menu"/>
     <element name="nombre" nillable="true" type="xsd:string"/>
     <element name="url" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="TipoUsuario">
    <sequence>
     <element name="rolDescripcion" nillable="true" type="xsd:string"/>
     <element name="sistemas" nillable="true" type="impl:ArrayOf_tns1_Sistema"/>
    </sequence>
   </complexType>
   <complexType name="Usuario">
    <sequence>
     <element name="activo" type="xsd:boolean"/>
     <element name="apellidoMaterno" nillable="true" type="xsd:string"/>
     <element name="apellidoPaterno" nillable="true" type="xsd:string"/>
     <element name="claveArea" nillable="true" type="xsd:string"/>
     <element name="claveDepartamento" nillable="true" type="xsd:string"/>
     <element name="contrasena" nillable="true" type="xsd:string"/>
     <element name="correoElectronico" nillable="true" type="xsd:string"/>
     <element name="fechaPassword" nillable="true" type="xsd:dateTime"/>
     <element name="fechaRegistro" nillable="true" type="xsd:dateTime"/>
     <element name="id" type="xsd:int"/>
     <element name="mensaje" nillable="true" type="xsd:string"/>
     <element name="noCliente" nillable="true" type="xsd:string"/>
     <element name="nombrePersona" nillable="true" type="xsd:string"/>
     <element name="nombreUsuario" nillable="true" type="xsd:string"/>
     <element name="tipoUsuario" nillable="true" type="tns1:TipoUsuario"/>
     <element name="usuarioRegistro" nillable="true" type="tns1:Usuario"/>
    </sequence>
   </complexType>
   <complexType name="Permisos">
    <sequence>
     <element name="sistemas" nillable="true" type="impl:ArrayOf_tns1_Sistema"/>
     <element name="usuario" nillable="true" type="tns1:Usuario"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="obtenTipoUsuarioResponse">

      <wsdl:part element="impl:obtenTipoUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenPermisosXMLRequest">

      <wsdl:part element="impl:obtenPermisosXML" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenPermisosResponse">

      <wsdl:part element="impl:obtenPermisosResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenPermisosXMLResponse">

      <wsdl:part element="impl:obtenPermisosXMLResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenPermisosHTMLResponse">

      <wsdl:part element="impl:obtenPermisosHTMLResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="generarContrasenaResponse">

      <wsdl:part element="impl:generarContrasenaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenPermisosJSONRequest">

      <wsdl:part element="impl:obtenPermisosJSON" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenNombreUsuarioRequest">

      <wsdl:part element="impl:obtenNombreUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenNombreUsuarioResponse">

      <wsdl:part element="impl:obtenNombreUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="generarContrasenaRequest">

      <wsdl:part element="impl:generarContrasena" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenPermisosJSONResponse">

      <wsdl:part element="impl:obtenPermisosJSONResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenPermisosHTMLRequest">

      <wsdl:part element="impl:obtenPermisosHTML" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenPermisosRequest">

      <wsdl:part element="impl:obtenPermisos" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenTipoUsuarioRequest">

      <wsdl:part element="impl:obtenTipoUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GSSeguridadWS">

      <wsdl:operation name="obtenTipoUsuario">

         <wsdl:input message="impl:obtenTipoUsuarioRequest" name="obtenTipoUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenTipoUsuarioResponse" name="obtenTipoUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenNombreUsuario">

         <wsdl:input message="impl:obtenNombreUsuarioRequest" name="obtenNombreUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenNombreUsuarioResponse" name="obtenNombreUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenPermisos">

         <wsdl:input message="impl:obtenPermisosRequest" name="obtenPermisosRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenPermisosResponse" name="obtenPermisosResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenPermisosJSON">

         <wsdl:input message="impl:obtenPermisosJSONRequest" name="obtenPermisosJSONRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenPermisosJSONResponse" name="obtenPermisosJSONResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenPermisosHTML">

         <wsdl:input message="impl:obtenPermisosHTMLRequest" name="obtenPermisosHTMLRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenPermisosHTMLResponse" name="obtenPermisosHTMLResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenPermisosXML">

         <wsdl:input message="impl:obtenPermisosXMLRequest" name="obtenPermisosXMLRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenPermisosXMLResponse" name="obtenPermisosXMLResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="generarContrasena">

         <wsdl:input message="impl:generarContrasenaRequest" name="generarContrasenaRequest">

       </wsdl:input>

         <wsdl:output message="impl:generarContrasenaResponse" name="generarContrasenaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GSSeguridadWSSoapBinding" type="impl:GSSeguridadWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="obtenTipoUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenTipoUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenTipoUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenNombreUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenNombreUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenNombreUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenPermisos">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenPermisosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenPermisosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenPermisosJSON">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenPermisosJSONRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenPermisosJSONResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenPermisosHTML">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenPermisosHTMLRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenPermisosHTMLResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenPermisosXML">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenPermisosXMLRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenPermisosXMLResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="generarContrasena">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generarContrasenaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="generarContrasenaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GSSeguridadWSService">

      <wsdl:port binding="impl:GSSeguridadWSSoapBinding" name="GSSeguridadWS">

         <wsdlsoap:address location="http://localhost:8080/GSWebServicesSSO/services/GSSeguridadWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
